<h3>Add a new Dose!</h3>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient, collection: Ingredient.all %>
  <%= f.submit %>
<% end %>
<%= link_to "Back", cocktail_path(@cocktail) %>
